@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'JetBrains Mono', monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c22;
  scroll-behavior: smooth;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



/* html {
  scroll-behavior: smooth;
} */
